.searchBar_form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar_form input {
  border-radius: 0;
  color: #4a4a4a;
  display: block;
  line-height: 2.2rem;
  padding: 16px 19px;
  padding-right: 3.5rem;
  border: none;
  outline: none;
}
button[type="submit"] {
  border: none;
  outline: none;
  border-radius: 0;
  color: #4a4a4a;
  display: block;
  line-height: 2.2rem;
  padding: 16px 19px;
}
.searchBar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
