.communities-container {
  background-color: white !important;
}
.communities-section-title {
  background-color: white !important;
  margin: 3rem 0;
  padding: 3rem 0;
}
.div-flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
hr.solid {
  border-top: 1.5px solid #000;
}
.box-shadow-customized {
  border: 1px solid lightgray;
  box-shadow: none !important;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important; */
}
.houseCardInfo {
  font-weight: 600;
  color: #262525;
  text-align: left;
}

.card-img:hover {
}
p {
  font-size: 11px;
}
.card-address {
  font-size: 1.1rem;
}
.card-div-container {
  /* border: 2.5px solid lightgray; */
  border-radius: 0.48em;
}

.card-div-container:hover {
  transform: scale(1.02);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: pointer;
}
.tab-box {
  height: fit-content !important;
}

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: white !important;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: white !important;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after {
  transform: scaleX(0);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.btn-1 {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-1 a {
  text-decoration: none;
  border: 2px solid #010100;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  font-weight: 600;
}

span {
  position: relative;
  z-index: 3;
}
.fav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 1rem;
  background-color: white !important;
  clip-path: circle(50% at 50% 50%);
  padding: 0.2rem;
}
.card-pic-div {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.card-pic-div-2 {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}
.col-card-component {
  margin: 0.5rem 0;
}
.carousel-container {
  padding-bottom: 4rem;
  padding-top: 1rem;
}

.div-flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body-content > span {
}
.card-price {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}
.card-price-2 {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
.styled-tabs-component .css-heg063-MuiTabs-flexContainer {
  display: flex !important;
  justify-content: center !important;
  align-items: "center" !important;
}
.css-qtm4bu-MuiButtonBase-root-MuiTab-root {
  max-width: auto !important;
  min-width: auto !important;
  padding: 0 !important;
}
.cards-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#styledTabList .css-heg063-MuiTabs-flexContainer {
  display: flex !important;
  justify-content: center !important;
  align-items: "center" !important;
}
#styledTabList .css-1aquho2-MuiTabs-indicator {
  background-color: white !important;
}
.cards-tab-panel {
  display: flex !important;
  justify-content: center !important;
  align-items: "center" !important;
}
.cards-tab-panel .card-hover-effect {
  margin: 0.3rem;
}
.css-13xfq8m-MuiTabPanel-root {
  padding: 0 !important;
}
.styledTabs-card-div-container {
  display: flex !important;
  justify-content: center !important;
  align-items: "center" !important;
}
.contact-form-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-form-main-container {
}

.contact-form-main-div label {
  padding: 0.9rem 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(102, 102, 102);
}

.contact-form-main-div input {
  border: 1px solid lightgray;
  padding: 0.5rem 1rem;
  outline: none;
  width: 100%;
}
.contact-form-main-div textarea {
  border: 1px solid lightgray;
  padding: 0.5rem 1rem;
  outline: none;
  width: 100%;
}
.contact-form-main-div select {
  border: 1px solid lightgray;
  padding: 0.5rem 1rem;
  outline: none;
  width: 100%;
}
.star {
  color: red;
  font-size: 0.7rem;
}
.basic-tabs .css-heg063-MuiTabs-flexContainer {
  display: flex !important;
  align-items: center !important;
  justify-conetent: center !important;
}
