.sections-main-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.subtitle {
  text-align: left;
  color: #88a9c3;
  font-weight: 600;
  margin-bottom: 1rem;
}
.span-title {
  color: #ffa840;
  font-weight: 600;
}
.div-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.h3-title {
  font-weight: 600;
}
.listing-card-div {
  margin: 0.3rem;
}
