.communities-page-container {
  margin-top: 7rem;
}
.communities-page-container span {
  margin: 0 0.8rem;
}
.communities-breadcrumbs-row {
  margin-top: 3rem;
}
.communities-page-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.title-row h1 {
  margin: 2rem 0;
}
.breadcrumbs-links {
  color: #007ff5;
}
.color-theme-small-word {
  color: #007ff5;
  cursor: pointer;
}
.para-communities {
  font-size: 15px;
}
.subtitle-row {
  margin: 2rem 0;
}

.featured-communities-col {
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.featured-communities-col:hover {
  color: gray;
}
.title-row .p-row .subtitle-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.communities-breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.communities-breadcrumbs-col2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.communities-breadcrumbs-col1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.title-row-h1 {
  margin: 2rem 0;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: solid 6px #336b9f;
  padding: 1rem;
  background-color: rgba(200, 200, 200, 0);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  clip-path: polygon(
    calc(0% + 3px) calc(0% + 3px),
    /* top left */ calc(100% - 3px) calc(0% + 3px),
    /* top right */ calc(100% - 3px) calc(100% - 3px),
    /* bottom right */ calc(0% + 3px) calc(100% - 3px) /* bottom left */
  );
  transition: clip-path 0.1s linear;
}
.searchBox:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.right-side-column .row-box {
  margin: 1rem 0;
}

.searchBox h5 {
  margin: 1rem 0;
}
.searchBox-button {
  margin: 1rem 0;
  border: 1px solid rgba(51, 107, 159, 1);
  color: rgba(51, 107, 159, 1);
  background-color: transparent;
  border-radius: 0.3em;
  padding: 0.35rem 0.8rem;
}
.area-tbody,
.area-thead,
.area-tr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
.area-tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.5px solid lightgray;
}
.area-tbody tr td {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.area-thead tr th h5 {
  texr-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
td {
  cursor: pointer;
}
.searchBox-button {
  background-color: #336b9f;
  color: white;
}
.searchBox-col-searchBar {
  border: 1px solid lightgray;
}
.pagination-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
