/*-------------------------Css Constants----------------------------*/
.centerd-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*-------------------------Css Constants----------------------------*/
.communities-page-container {
  margin-top: 7rem;
}
.communities-page-container span {
  /* margin: 0 0.8rem; */
}
.communities-breadcrumbs-row {
  margin-top: 3rem;
}
.communities-page-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.title-row h1 {
  margin: 2rem 0;
}
.breadcrumbs-links {
  color: #007ff5;
}
.color-theme-small-word {
  color: #007ff5;
  cursor: pointer;
}
.para-communities {
  font-size: 15px;
}
.subtitle-row {
  margin: 2rem 0;
}

.featured-communities-col {
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.featured-communities-col:hover {
  color: gray;
}
.title-row .p-row .subtitle-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.communities-breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.communities-breadcrumbs-col2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.communities-breadcrumbs-col1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.title-row-h1 {
  margin: 2rem 0;
  font-size: 2.5rem;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* border: solid 6px #336b9f; */
  padding: 1rem;
  background-color: rgba(200, 200, 200, 0);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  clip-path: polygon(
    calc(0% + 3px) calc(0% + 3px),
    /* top left */ calc(100% - 3px) calc(0% + 3px),
    /* top right */ calc(100% - 3px) calc(100% - 3px),
    /* bottom right */ calc(0% + 3px) calc(100% - 3px) /* bottom left */
  );
  transition: clip-path 0.1s linear;
}
.searchBox:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.right-side-column .row-box {
  margin: 1rem 0;
}

.searchBox h5 {
  margin: 0.3rem 0;
}
.searchBox-button {
  margin: 1rem 0;
  border: 1px solid rgba(51, 107, 159, 1);
  color: rgba(51, 107, 159, 1);
  background-color: transparent;
  border-radius: 0em;
  padding: 0.35rem 0.8rem;
}
.area-tbody,
.area-thead,
.area-tr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
.area-tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: #1976d2;
}
.td-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: #1976d2;
}
.area-tbody tr td {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.1rem;
}
.area-thead tr th h5 {
  texr-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
}
td {
  cursor: pointer;
}
.searchBox-button {
  background-color: #336b9f;
  color: white;
}
.searchBox-col-searchBar {
  /* border: 1px solid lightgray; */
  /* max-height: 200px; */
}
.pagination-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.listtingTab-col {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}
.right-td {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  aling-items: center;
  width: fit-content;
}
.breadcrumbs-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-div {
  display: flex;
  justify-content: flex-end;
}
.pagination-div-2 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.selected {
  background-color: rgba(51, 107, 159, 0.8);
  color: white;
  border-radius: 50%;
  padding: 0.3rem 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-selected {
  padding: 0.3rem 0.7rem;
}
.full-card {
  display: flex !important;
  justifycontent: center !important;
  alignitems: center !important;
  border: 1px solid lightgray !important;
  margintop: 2rem 0 !important;
}
.dropDown-div-box {
  position: absolute;
  background-color: white;
  border: 1px solid lightgray;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
  z-index: 33 !important;
  margin-top: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  max-width: 1000px;
}
.dropDown-content {
}
.filters-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-component-col-search {
  padding: 1rem;
}

.filter-component-col > label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-component-col {
  border: 1px solid lightgray;
  padding: 1.2rem 0;
  margin: 0 0.4rem;
}
.dropDown-div-box input {
  padding: 0.6rem 0.5rem;
  outline: none;
  border: 1px solid lightgray;
  margin: 0.3rem 0.3rem;
}
.dropDown-div-box input:focus {
  border: 1px solid rgb(25, 118, 210);
}
.filters-main-right-row {
}
.agent-contact-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkboxes-div-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.checkboxes-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.checkboxes-main-row {
  display: flex;
  justify-content: center;
  align-items: inherit;
}
.market-state-col td {
  display: flex;
  justify-content: flex-end;
}
.market-state-p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6d96bf;
  padding: 1.5rem;
}
.dropDown-div-box label {
  font-weight: 600 !important;
}
.dropDown-more-button-row {
  border: 1px solid lightgray;
  padding: 0.8rem;
}
.select-input-option {
  padding: 0.9rem;
  outline: none;
  border: 1px solid lightgray;
  margin: 0.3rem 0;
}
.si-sapp-checkbox label {
  font-weight: 500 !important;
}
.element-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.si-sapp-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0rem;
}
input[type="checkbox"] {
  font-size: 1.5rem;
  height: 15.3px;
  width: 15.3px;
  margin-right: 0.9rem;
}
.forSaleIcon {
  position: absolute;
  z-index: 1;
  padding: 0.5rem 0.7rem;
  background-color: white;
  margin: 0.5rem;
  font-weight: 600;
}
.shareAndSaveIcon {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  font-weight: 600;
  display: flex;
  justify-self: flex-end;
}
.shareIcon {
  padding: 0.5rem 0.7rem;
  margin: 0.3rem;
  background-color: white;
}
.saveIcon {
  padding: 0.5rem 0.7rem;
  margin: 0.3rem;
  background-color: white;
}
.galleryIcon {
  position: absolute;
  z-index: 1;
  padding: 0.5rem 0.7rem;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0.5rem;
  font-weight: 500;
  display: flex;
  justify-self: flex-end;
  align-self: end;
  color: white;
}
.image-list-item-component img {
}
.table-of-priceHistory {
  margin: 1.5rem 1rem;
}
.table-of-priceHistory th {
  font-weight: 600;
  padding-bottom: 1.2rem !important;
  font-size: 1.1rem;
}
.table-of-priceHistory td {
  color: gray;
  padding: 0.5rem 0 !important;
}
.show-more-content-toggler-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  font-weight: 600;
  color: rgba(90, 90, 90);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

table.comparable-sales-table {
  border-collapse: separate;
  border-spacing: 2em 3.5em;
}
.comparable-sales-table-tr th {
  font-weight: 600;
}
