.form-container {
}
.flex-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
}
.Search-page-thead,
.Search-page-tr,
.Search-page-tbody,
.Search-page-tbody td {
  /* border: 1px solid lightgray; */
}
.Search-page-tbody td {
  /* width: 20%; */
}
.Search-page-tbody {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 1 !important;
}
.Search-page-tr {
}
.address-search-tr {
}
.address-search-a:hover .address-search-link {
  color: #bf3212 !important;
}
.search-engine-box {
  max-height: 200px !important;
  margin: 1rem 0;
  overflow-y: scroll;
}
.search-engine-box tr {
  border-bottom: 1px solid lightgray;
}
.search-engine-box {
  background-color: white !important;
  opacity: 1 !important;
}
.address-search-a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white !important;
  opacity: 1 !important;
}
