.full-bg-image {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 48, 96, 0.4),
      rgba(38, 94, 137, 0.7)
    ),
    url(../../../assets/homeSectionPic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.homeSection-h1 {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  position: relative;
  text-shadow: rgb(0 0 0) 0px 2px 5px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.homeSection-h1-span {
  color: #68b3f9;
  text-shadow: rgb(0 0 0) 0px 2px 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.4rem;
  padding-bottom: 0.25rem;
}
.homeSection-cntent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 75vh;
  flex-direction: column;
  postion: realtive;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .homeSection-h1-span {
    display: inline-block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .homeSection-h1-span {
    display: inline-block;
    justify-content: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .homeSection-h1-span {
    display: inline-block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
