hr.solid {
  border-top: 2px solid rgb(36, 36, 36);
}
.footer-tbody {
  color: rgb(36, 36, 36);
}
.footer-main-div {
  /* background-image: url(../../assets/wave.svg); */
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  width: 100%;
  color: rgb(36, 36, 36);
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.footer-table,
.footer-table-row {
  width: 100%;
  margin: 1rem 0;
}
.footer-thead-tr th {
  color: rgb(36, 36, 36);
  font-size: 1.4rem;
}

.footer-tbody {
  color: rgb(36, 36, 36);
}
.footer-tbody-tr {
  color: rgb(36, 36, 36);
}
.footer-tbody-tr td {
  color: rgb(36, 36, 36);
}
.socialMedia-td {
  display: flex;
  justify-contnet: space-between;
  align-items: center;
  flex-direction: row;
  color: rgb(36, 36, 36);
}
.footer-thead-rights {
  border-top: 1px solid rgb(36, 36, 36);
  margin: 2rem 0;
  padding: 1rem;
}
.footer-thead-rights > tr > p {
  display: flex;
  justify-contnet: center;
  align-items: center;
  color: rgb(36, 36, 36);
  tex-align: center;
}
.footer-mainRow span {
  padding: 0.3rem 0 !important;
}
