.agents-section-div {
  margin-top: 3rem;
}
.card-image {
  object-fit: cover;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  box-shadow: #336b9f 0px 0px 0px 3px;
}
.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.agentsCard {
  margin-bottom: 7rem;
}
.contact-button {
  padding: 0.3rem 0.2rem;
  background-color: #336b9f;
  color: white;
  font-size: 14.5px !important;
  width: 100%;
  margin-top: 1rem;
}
.card-content-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.userName-name {
  text-align: center;
  font-weight: 600 !important;
  font-size: 1.5rem;
}
.card-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem 1rem !important;
}
.card-button-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card-button-action {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card-button {
  border: 1.5px solid black !important;
  text-shadow: rgb(255, 255, 255) 0px 1px 5px;
  color: black !important;
  margin-bottom: 2rem !important;
}
.card-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important; */
  border: 1px solid lightgray;
  margin: 1rem;
}
.content-div {
  display: flex;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
}
.agent-card-row {
  display: flex;
  justify-content: center !important;
  align-items: center;
  border: 2px solid lightgray;
  margin: 0.5rem;
  padding: 1rem;
}
.connect-agent-mainRow {
  margin-top: 3rem;
}
.connect-agent-image {
  max-width: 100%;
  height: auto;
}
.connect-agent-image-col {
}
.connect-agent-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-agent-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100% !important;
}
.connect-agent-content span {
  font-weight: 600 !important;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.connect-agent-content p {
  font-weight: 400 !important;
  font-size: 15px;
  margin-bottom: 1rem;
  text-align: center;
}
.connect-agent-formBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100% !important;
}
.connect-agent-textField {
  border: 1px solid gray;
  width: 100% !important;
}
.form-button {
  border: 1px solid rgb(51, 107, 159) !important;
  background-color: rgb(51, 107, 159) !important;
  color: white !important;
  margin: 2rem 0 !important;
  padding: 0.5rem 2rem !important;
}
.connect-agent-bottomP {
  font-size: 10px !important;
  color: gray;
}

#fill4,
#fill5,
#fill6 {
  fill: #bfbfbf;
}
#fill2 {
  fill: #52a9ff;
}
#fill3 {
  fill: #52a9ff;
}
.connect-agent-mainRow {
  background-color: #336b9f;
  padding: 2rem;
}
.connect-agent-content {
  background-color: white;
  padding: 2rem;
}
.agents-div {
}
.carousel-main-items-div {
  padding: 0 3rem;
}
